<div class="app-container">
  <!-- Side Navigation for Desktop View -->
  <nav class="side-nav bg-light p-3" *ngIf="isDesktopView">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/speedboat-booking']">Speedboat Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/transfer-booking']">Transfer Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/show-table']">Show Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']">Settings</a>
      </li>
    </ul>
  </nav>

  <!-- Hamburger Menu for Mobile View -->
  <nav class="navbar navbar-light bg-light d-lg-none">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="isMenuOpen" class="dropdown-menu show p-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/speedboat-booking']" (click)="closeMenu()">Speedboat Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/transfer-booking']" (click)="closeMenu()">Transfer Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/show-table']" (click)="closeMenu()">Show Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/settings']" (click)="closeMenu()">Settings</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Area -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
