<div class="app-container">
  <!-- Side Navigation for Desktop View -->
  <nav class="side-nav bg-light p-3" *ngIf="isDesktopView">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/menu/speedboat-booking']">
          <i class="bi bi-speedometer"></i> Speedboat Booking
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/menu/transfer-booking']">
          <i class="bi bi-arrow-left-right"></i> Transfer Booking
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/menu/show-table']">
          <i class="bi bi-table"></i> Show Table
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/menu/settings']">
          <i class="bi bi-gear"></i> Settings
        </a>
      </li>
    </ul>
  </nav>

  <!-- Hamburger Menu for Mobile View -->
  <nav class="navbar navbar-light bg-light d-lg-none">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="isMenuOpen" class="dropdown-menu show p-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu/speedboat-booking']" (click)="closeMenu()">
            <i class="bi bi-speedometer"></i> Speedboat Booking
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu/transfer-booking']" (click)="closeMenu()">
            <i class="bi bi-arrow-left-right"></i> Transfer Booking
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu/show-table']" (click)="closeMenu()">
            <i class="bi bi-table"></i> Show Table
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu/settings']" (click)="closeMenu()">
            <i class="bi bi-gear"></i> Settings
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Area -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
