<div class="container mt-4">
    <h3>Menu</h3>
  
    <ul class="list-group">
      <li class="list-group-item">
        <a [routerLink]="['/speedboat-booking']" class="btn btn-primary w-100">
          Speedboat Booking
        </a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/transfer-booking']" class="btn btn-primary w-100">
          Transfer Booking
        </a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/show-table']" class="btn btn-primary w-100">
          Show Table
        </a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/settings']" class="btn btn-primary w-100">
          Settings
        </a>
      </li>
    </ul>
  </div>
  