.app-container {
    display: flex;
    flex-direction: row;
  }
  
  .side-nav {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 20px;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
  }
  
  @media (max-width: 768px) {
    .navbar-toggler {
      position: fixed;
      top: 10px;
      left: 10px; /* Postavi hamburger na lijevu stranu */
      z-index: 1000;
    }
  
    .main-content {
      margin-left: 0;
    }
  
    .dropdown-menu {
        position: fixed; /* Umjesto absolute, koristimo fixed */
        top: 50px; /* Pozicija odmah ispod hamburgera */
        left: 10px; /* Poravnanje s hamburgerom */
        width: 250px; /* Širina dropdown menija */
        background-color: #f8f9fa;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: none; /* Skriven dok se ne otvori */
      }
  
    .dropdown-menu.show {
      display: block; /* Prikaži izbornik kada je otvoren */
    }
  }
  