:host {
  display: block;
  width: 100vw; /* Zauzima cijelu širinu */
  height: 100vh; /* Zauzima cijelu visinu */
  background-image: url('/assets/background.jpg');
  background-size: cover; /* Pokriva cijeli ekran */
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  max-width: 400px; /* Maksimalna širina forme */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Prozirna bijela pozadina */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centriranje forme */
}

form {
  display: flex;
  flex-direction: column;
}

.form-control,
button {
  width: 100%; /* Osigurava da svi elementi budu iste širine */
}

button {
  margin-top: 15px;
}
