<div class="login-container" style="background-image: url('/assets/background.jpg'); height: 100vh; background-size: cover; background-position: center;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        class="form-control w-100"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        class="form-control w-100"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">
      Login
    </button>
  </form>
</div>
